<!-- Create a form that collects the zip code from the user.
The form should have an input field for the zip code and a submit button.
Ensure the form submits a POST request to the /weather route. -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>weather application</title>
</head>
<body>
  <h1>welcome to weather</h1>


<form action="/" method="POST">
<label>Zip Code: </label>
<input type="text" name="zip" id="zip" value="94040" >

<br>
<br>
<button type="submit">Submit</button>

</form>

</body>

</html>